XTerm*faceName: Iosevka
XTerm*faceSize: 14

! dark background and light text.
XTerm*background: #181818
XTerm*foreground: #e4e4ef
XTerm*cursorColor: #e4e4ef

XTerm*scrollBar: false

XTerm*selectToClipboard: true

XTerm*saveLines: 10000

XTerm*VT100.Translations: #override \
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
