XTerm*faceName: Iosevka
#include "/home/styx/.Xresources.local"

XTerm*background: #181818
XTerm*foreground: #e4e4ef
XTerm*cursorColor: #e4e4ef

XTerm*scrollBar: false
XTerm*cursorBlink: false
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

XTerm*selectToClipboard: true

XTerm*saveLines: 10000

XTerm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
